<html>
  <head>
    <style>
      body {
        background: <%= background_color %>;
      }
    </style>
  </head>
  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>

    <% if message == "You got it right!" %>
    <p>
      The SECRET NUMBER is <%= number %>
    </p>
    <% end %>

    <p><%= message %></p>
    <p>Guess left: <%=guesses%></p>
  </body>
</html>
